.section {
    &-vidhero {
        margin-top: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }

    &-chalup {
        padding: 115px 0 102px;
    }

    &-chalneed {
        padding: 98px 0 128px;
    }

    &-signmeup {
        padding: 167px 0 138px;
    }

    &-joinreceive {
        padding: 101px 0 130px;
    }

    &-spotchallenge {
        padding: 153px 0 125px;
    }

    &-countdown {
        padding: 50px 0 66.5px;
    }

    &-joinnow {
        padding: 23.5px 0 25px;

        .container {
            max-width: 100%;
            padding: 0 0 0 257px;
        }

        @media (max-width: 1400px) {
            .container {
                padding-left: 150px;
            }
        }

        @media (max-width: 991px) {
            .container {
                padding: 0 15px;
            }
        }
    }

    &-faqs {
        padding: 155px 0 255px;

        .section-bg::after {
            background-color: $color-main;
            opacity: .83;
        }
    }

    &-msgwarning {
        padding: 64px 0;
    }

    &-testimonials {
        padding: 144px 0;
    }

    &-jointribe {
        padding: 122px 0 144px;
    }
}

.vidhero {
    height: 500px;
    overflow: hidden;

    &::before {
        z-index: 1;
        content: "";
        @include absoldefault;
        background-color: #000;
        opacity: .58;
    }

    &-bg {
        z-index: 0;
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    &-icon {
        z-index: 1;
        width: 78px;
        height: 78px;
        @include absolcenter;
    }

    &-sm {
        position: relative;
        width: 100%;
        max-width: 1145px;
        height: 576px;
        @include margin-auto;

        &::before {
            opacity: .3;
        }
    }

    @media (max-width: 991px) {
        height: 380px;
    }
}

.chalup {
    .section-head {
        margin-bottom: 73px;

    }

    &-card {
        margin-bottom: 81.4px;

        img {
            height: 129px;
        }

        p {
            font-size: 18px;
            max-width: 275px;
            @include margin-auto;
        }
    }
}

.chalneed {
    &-col {
        padding: 15px;
    }

    &-card {
        max-width: 285px;
        @include margin-auto;

        img {
            margin-bottom: 40px;
        }

        h3 {
            font-family: $font-1;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 9.6px;
            text-transform: uppercase;
        }

        p {
            font-family: $font-1;
            font-size: 15px;
            line-height: 20px;
        }
    }

    &-content {
        display: flex;
        align-items: center;
        margin-top: 86.4px;

        &-text {
            padding-right: 137px;
            max-width: 919px;

            p {
                font-family: $font-1;
                font-size: 24px;
                font-weight: 400;
                letter-spacing: 1.2px;
                line-height: 28px;
                margin-bottom: 20px;
            }
        }

        &-img {
            width: 559px;
            height: 329px;
            overflow: hidden;
            margin-left: auto;

            img {
                @include imgfit;
            }
        }
    }

    @media (max-width: 1200px) {
        &-content {
            flex-wrap: wrap;

            >* {
                width: 100%;
                padding: 10px;
            }
        }
    }
}

.signmeup {
    &-row {
        margin: 0 -40px;
    }

    &-col {
        padding: 10px 40px;
    }

    &-img {
        position: relative;
        margin-left: 35px;
        margin-bottom: 30px;

        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            top: 30px;
            left: -35px;
            width: 100%;
            height: 100%;
            background-color: $color-sub;
        }

        img {
            z-index: 1;
            position: relative;
            max-width: 100%;
            width: 727px;
            height: 668px;
            object-fit: cover;
        }
    }

    &-cont {
        p {
            max-width: 467px;
        }
    }

    @media (max-width: 991px) {
        &-img img {
            height: 400px;
        }
    }
}

.joinreceive {
    .section-head {
        margin-bottom: 98px;
    }

    &-card {
        max-width: 360px;
        @include margin-auto;

        &-img {
            width: 100%;
            height: 245px;
            overflow: hidden;

            img {
                @include imgfit;
            }
        }

        &-icon {
            z-index: 1;
            position: relative;
            width: 66px;
            height: 66px;
            line-height: 66px;
            @include margin-auto;
            margin-top: -33px;
            margin-bottom: 9px;
            border-radius: 50%;
            background-color: $color-main;

            img {
                width: 23px;
            }
        }

        &-text {
            h3 {
                font-family: $font-1;
                font-size: 21px;
                font-weight: 700;
                line-height: 24px;
                margin-bottom: 12.6px;
            }

            p {
                font-size: 15px;
            }
        }
    }
}

.spotchallenge {
    .heading {
        // font-size: ;
    }

    p {
        font-size: 51px;
        font-weight: 700;
    }
}

.countdown {
    &-card {
        p {
            font-family: $font-1;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;

            span {
                font-size: 121px;
                font-weight: 400;
                display: block;
                line-height: 1;
            }
        }
    }
}

.joinnow {
    .heading-alt {
        margin-bottom: 57.6px;

        span {
            max-width: 240px;
        }
    }

    &-boxes {
        &-link {
            .link-box {
                font-size: 20px;
                padding: 9px 38px;
            }
        }
    }

    &-card {
        display: flex;
        margin-bottom: 57px;

        &-icon {
            position: relative;
            width: 64.8px;
            height: 64.8px;
            line-height: 64.8px;
            background-color: $color-main;
            border: 4px solid #B94A0D;
            text-align: center;
            border-radius: 50%;

            img {
                z-index: 1;
                width: 27px;
                @include absolcenter;
            }
        }

        &-text {
            padding-left: 27.3px;
            width: calc(100% - 64.8px);

            p {
                font-size: 15px;
                line-height: 20px;
                margin-bottom: 0;
            }
        }
    }

    &-img {
        img {
            height: 936px;
        }
    }
}

.faqs {
    .section-head {
        margin-top: 89px;

        .divider-title {
            margin-top: 40px;
            border-bottom-color: #fff;
        }
    }

    .vidhero {
        margin-bottom: 270px;
    }

    .form-wrap .heading {
        margin-bottom: 51px;
    }

    .button-white {
        font-family: $font-1;
        font-size: 28px;
        font-weight: 400;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;
        border-color: transparent;
        cursor: pointer;
        padding: 18.8px 60px;
        margin-top: 51px;
        transition: all .2s;

        &:hover {
            color: #fff;
            background-color: $color-green;
        }
    }

    @media (max-width: 1400px) {
        .vidhero {
            margin-bottom: 100px;
        }
    }
}

.msgwarning {
    p {
        font-size: 34px;
        font-weight: 400;
        line-height: 38px;
    }
}

.testimonials {
    .vidhero {
        margin-bottom: 255px;
    }

    &-slider {
        margin: 0 -17px;

        &-wrap {}

        .slick {
            &-list {
                max-width: 1010px;
                @include margin-auto;

            }

            &-slide {
                @media (min-width: 992px) {
                    &:nth-child(3n) .testimonials-card::after {
                        display: none;
                    }
                }

                @media (min-width: 768px) and (max-width: 991px) {
                    &:nth-child(odd) .testimonials-card::after {
                        display: none;
                    }
                }

                @media (max-width: 767px) {
                    .testimonials-card::after {
                        display: none;
                    }
                }
            }
        }
    }

    &-card {
        position: relative;
        padding: 0 17px;
        text-align: center;

        &::after {
            content: "";
            @include absoltopcenter;
            right: 0;
            width: 2px;
            height: 158px;
            background-color: $color-main;
        }

        &-img {
            width: 80px;
            height: 80px;
            margin-bottom: 33px;
            @include margin-auto;
        }

        &-comment {
            max-width: 290px;
            @include margin-auto;
            margin-bottom: 13px;

            p {
                font-family: $font-1;
                font-size: 13px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 5px;
            }
        }

        &-author {
            font-family: $font-3;
            font-size: 16px;
            font-weight: 700;

            &::before {
                content: "";
                display: block;
                margin: 19px auto 16px;
                width: 40px;
                border-bottom: 2px solid $color-main;
            }
        }
    }

    @media (min-width: 992px) {}

    @media (max-width: 991px) {
        &-card::after {}

        .vidhero {
            margin-bottom: 100px;
        }
    }
}

.followus {
    // max-width: 1400px;
    // @include margin-auto;

    .section-head {
        margin-bottom: 17px;
    }

    &-slider .slick-list,
    .section-head {
        max-width: 1410px;
        margin-left: auto;
        margin-right: auto;
    }

    .heading-alt {
        margin-bottom: 17px;
    }

    &-row {
        margin: 0 -9px;

        &-inner {
            margin: -9px -18px;
        }
    }

    &-col {

        // padding: 0 9px;
        &,
        &-inner {
            padding: 9px;
        }
    }

    &-card {
        position: relative;
        height: 100%;

        &-lg {}

        &-img {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                @include imgfit;
            }
        }
    }

    .grid {
        &-container {
            height: 521px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 18px 18px;
            grid-template-areas:
                "grid-1 grid-1 grid-2 grid-3"
                "grid-1 grid-1 grid-4 grid-5";
        }

        &-item {

            &-1 {
                grid-area: grid-1;
            }

            &-2 {
                grid-area: grid-2;
            }

            &-3 {
                grid-area: grid-3;
            }

            &-4 {
                grid-area: grid-4;
            }

            &-5 {
                grid-area: grid-5;
            }
        }

        @media(max-width: 991px) {
            &-container {
                height: auto;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas:
                    "grid-item-1 grid-item-1"
                    "grid-item-2 grid-item-3"
                    "grid-item-4 grid-item-5";
            }

            &-item {
                .followus-card-img {
                    height: 250px;
                }

                &-1 {
                    grid-area: grid-item-1;
                }

                &-2 {
                    grid-area: grid-item-2;
                }

                &-3 {
                    grid-area: grid-item-3;
                }

                &-4 {
                    grid-area: grid-item-4;
                }

                &-5 {
                    grid-area: grid-item-5;
                }
            }
        }

        @media (max-width: 567px) {
            &-item .followus-card-img {
                height: 150px;
            }
        }
    }


}

.jointribe {
    .heading {
        margin-bottom: 130px;

        &-sidebar {
            span {
                padding: 40px;
                padding-left: 0;
            }
        }
    }

    &-box {
        margin-bottom: 83px;

        .heading-sub {
            margin-bottom: 35px;
        }
    }

    &-table {
        font-family: $font-1;
        width: 100%;
        margin-bottom: 72px;

        tr {
            border-bottom: 2px solid #707070;

            td {
                &:first-child {
                    width: 50%;
                    white-space: nowrap;
                    padding-left: 75px;
                }

                &:nth-child(n+2) {
                    width: 16.6667%;
                }

                &:last-child {
                    width: 200px;
                    padding-right: 75px;
                }
            }
        }

        thead {
            font-size: 25px;
            font-weight: 600;

            tr {
                border-top: 2px solid #707070;

                td {

                    padding: 20px 0;
                }
            }
        }

        tbody {
            font-size: 25px;
            font-weight: 400;

            tr {
                td {
                    padding: 35px 0;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .heading {
            margin-bottom: 30px;
        }

        &-table {

            thead,
            tbody {
                font-size: 18px;
            }

            tr {

                td:first-child {
                    padding-left: 30px;
                }

                td:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}