.color {
  &-main {
    color: $color-main;
  }

  &-sub {
    color: $color-sub;
  }

  &-gray {
    color: $color-gray;
  }

  &-black {
    color: $color-black;
  }

  &-white {
    color: #fff;
  }

  &-cream {
    color: $color-cream;
  }
}

.background {
  &-main {
    background-color: $color-main;
  }

  &-sub {
    background-color: $color-sub;
  }

  &-gray {
    background-color: $color-gray;
  }

  &-black {
    background-color: $color-black;
  }

  &-light-green {
    background-color: rgba($color-green, .13);
  }

  &-cream {
    background-color: $color-cream;
  }
}

.bg-comma {
  padding-top: 4rem;

  &::before {
    content: "\f10e";
    font-family: $font-awesome;
    font-size: 12rem;
    font-weight: 700;
    position: absolute;
    top: -15px;
    left: -15px;
    opacity: 0.075;
  }
}

.side-line {
  padding-left: 100px;

  &,
  &-right {
    position: relative;
  }

  &-right {
    padding-right: 100px;
    text-align: right;
  }

  &::before,
  &-right::before {
    content: "";
    position: absolute;
    top: 35px;
    width: 56px;
    height: 3px;
    background-color: $color-main;
    border-radius: 25px;
  }

  &::before {
    left: 0;
  }

  &-right::before {
    right: 0;
  }

  @media (max-width: 991px) {
    padding-left: 70px;

    &::before {
      top: 20px;
    }
  }
}

.heading {
  font-family: $font-1;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 23px;
  margin-bottom: 28px;

  &-lg {
    font-family: $font-1;
    font-size: 81px;
    font-weight: 500;
    letter-spacing: 6.48px;
    line-height: 89px;
  }

  &-alt {
    font-family: $font-2;
    font-size: 50px;
    font-weight: 700;
  }

  &-sub {
    font-family: $font-1;
    font-size: 40px;
    font-weight: 400;
  }

  &-divider {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-main;
      margin-top: 19.7px;
    }
  }

  &-sidebar {
    position: relative;

    &::after {
      z-index: 0;
      content: "";
      @include absoltopcenter;
      right: 0;
      width: 100%;
      border-bottom: 2px solid $color-main;
    }

    span {
      z-index: 1;
      position: relative;
      display: inline-block;
      background-color: #fff;
    }
  }

  &-heavy {
    font-family: $font-1;
    font-size: 115px;
    font-weight: 700;
    line-height: 138px;
    margin-bottom: 33px;
  }

  @media (max-width: 991px) {
    font-size: 35px;

    &-sub {
      font-size: 28px;
    }

    &-lg {
      font-size: 50px;
      line-height: 60px;
    }

    &-heavy {
      font-size: 80px;
    }
  }
}

.section {
  position: relative;

  &-head {
    max-width: 939px;
    @include margin-auto;

    p {
      font-family: $font-1;
      font-size: 25px;
      line-height: 28px;
      margin-bottom: 20px;
    }
  }

  &-bg {
    z-index: -1;
    @include absoldefault;

    &::after {
      content: "";
      @include absoldefault;
      background-color: #000;
      opacity: .63;
    }

    img {
      @include imgfit;
    }
  }
}

.divider {
  &-title {
    display: block;
    @include margin-auto;
    width: 152px;
    border-bottom: 3px solid $color-main;
    margin-top: 23px;
    margin-bottom: 25px;

    &-lg {
      display: block;
      @include margin-auto;
      width: 944px;
      border-bottom: 3px solid #fff;
      margin-top: 42.7px;
      margin-bottom: 50px;
    }
  }

  &-icon {
    display: block;
    width: 41px;
    border-bottom: 5px solid $color-green;
    @include margin-auto;
    margin-top: 40.6px;
    margin-bottom: 27.7px;
  }
}

.strike-through {
  text-decoration: line-through;
}

.imgfit {
  @include imgfit;
}

.content {
  p {
    font-size: 18px;
    opacity: .85;
  }

  @media (max-width: 1600px) {
    p {
      font-size: 15px;
    }
  }

  @media (max-width: 991px) {
    p {
      font-size: 14px;
    }
  }
}

.link {
  &-btn {
    font-family: $font-2;
    font-size: 21px;
    font-weight: 600;
    padding: 13px 33px;
    display: inline-block;
    vertical-align: unset;
    color: #fff;
    background-color: #000;
    border-radius: 225px;

    img {
      width: 14px;
      height: 14px;
      margin-left: 37px;
    }

    &:hover {
      color: #fff;
      background-color: $color-main;
    }

    @media (max-width: 567px) {
      font-size: 16px;
      padding: 10px 22px;
    }
  }
}

.imgtobg {

  &-o,
  &-o-sm {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  &-o-sm {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &-img {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

.square {
  position: relative;
  overflow: hidden;

  img {
    position: relative;
    min-width: 100%;
    width: auto;
    max-width: 150%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
  }
}

.img {
  &-floatleft {
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &-floatright {
    float: right;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }

  @include respond(tabland) {

    &-floatleft,
    &-floatright {
      max-width: 50%;
    }
  }
}

/* remove float at certain viewports */
.float {
  @include respond(tabland) {
    &-md {
      float: none;
    }
  }

  @include respond(tabport) {
    &-sm {
      float: none;
    }
  }

  @include respond(phone) {
    &-xs {
      float: none;
    }
  }
}

.max-width {
  &--100 {
    max-width: 100px;
  }

  &--200 {
    max-width: 200px;
  }

  &--300 {
    max-width: 300px;
  }

  &--400 {
    max-width: 400px;
  }

  &--500 {
    max-width: 500px;
  }

  &--600 {
    max-width: 600px;
  }

  &--700 {
    max-width: 700px;
  }

  &--800 {
    max-width: 800px;
  }

  &--900 {
    max-width: 900px;
  }

  &--1000 {
    max-width: 1000px;
  }

  &--1100 {
    max-width: 1100px;
  }

  &--1200 {
    max-width: 1200px;
  }
}

.margin-auto {
  @include margin-auto;
}

.white-border {
  position: relative;
  border: 1px solid rgba(#fff, 0.3);
  padding: 2rem;
}

.border-behind {
  position: relative;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 3rem;
    left: 3rem;
    border: 1rem solid $color-main;
    width: 100%;
    height: 100%;
    opacity: 0.7;
  }
}

.curve-shape {

  &-top,
  &-bot {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 10%;
      background-image: url("../images/shape.svg");
      background-size: 100% 100%;
    }
  }

  &-top::before {
    top: 0;
  }

  &-bot::before {
    bottom: 0;
    transform: rotate(180deg);
  }

  &-light::before {
    background-image: url("../images/shape-light.svg");
  }
}

.no-padding {
  padding: 0;
}

.list {
  &-content {
    padding-left: 1rem;
    list-style-type: none;

    li {
      position: relative;
      margin-bottom: 0.4rem;
      padding-left: 2rem;

      &::before {
        content: "\f105";
        font-family: $font-awesome;
        font-size: 1.4rem;
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &-x2 {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;

    li {
      width: 50%;
      padding-right: 1rem;
    }
  }

  &-icon {
    position: relative;
    margin-bottom: 1.5rem;

    li {
      position: relative;
      padding-left: 3rem !important;

      &::before {
        display: none;
      }

      >i {
        @include absoltopcenter;
        left: 0;
        font-size: 1.8rem;
      }

      span,
      strong {
        display: block;
      }
    }
  }
}

.column-2 {
  column-count: 2;
  column-gap: 4rem;

  @include respond(tabland-min) {
    &-lg {
      column-count: 2;
      column-gap: 4rem;
    }
  }

  @include respond(tabport-min) {
    &-md {
      column-count: 2;
      column-gap: 4rem;
    }
  }
}

.p-dash {
  position: relative;
  padding-left: 9rem;

  &::before {
    content: "";
    position: absolute;
    top: 1rem;
    left: 0;
    width: 7rem;
    height: 0.3rem;
    background-color: $color-main;
  }

  &-white::before {
    background-color: #fff;
  }
}

.star-rating {
  position: relative;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

  span {
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      font-family: $font-awesome;
      font-size: 1.5rem;
      content: "\f005 \f005 \f005 \f005 \f005";
    }

    &::before {
      font-weight: 400;
    }

    &::after {
      color: #ffa500;
      font-weight: 700;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.star-1::after {
      content: "\f005";
    }

    &.star-2::after {
      content: "\f005 \f005";
    }

    &.star-3::after {
      content: "\f005 \f005 \f005";
    }

    &.star-4::after {
      content: "\f005 \f005 \f005 \f005";
    }

    &.star-5::after {
      content: "\f005 \f005 \f005 \f005 \f005";
    }
  }
}

.trip {
  &-date {
    position: relative;
    padding-left: 3rem;

    i {
      @include absoltopcenter;
      left: 0;
      color: $color-sub;
      font-size: 2.25rem;
    }

    span,
    strong {
      display: block;
    }

    span {}

    strong {}
  }

  &-duration {
    span {
      display: inline-block;
      margin-right: 1rem;
    }

    &-day {
      color: $color-sub;
    }

    &-night {
      color: $color-main;
    }
  }
}

.tags {
  span {
    a {
      font-family: $font-1;
      font-size: 1.35rem;
      display: inline-block;
      padding: 0.5rem 1rem;
      margin-right: 0.5rem;
      margin-bottom: 0.75rem;
      color: #666;
      background-color: $color-gray;
      border-radius: 0;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }
    }
  }
}

.category {
  font-size: 1.4rem;
  color: #555;

  span {
    &:not(:last-child)::after {
      content: ",";
    }

    a {
      text-decoration: underline;

      &:hover {
        color: $color-sub;
      }
    }
  }
}

.author {
  color: #555;
  font-family: $font-1;
  font-size: 1.4rem;
  padding: 1rem 0;

  i {
    font-size: 1.2rem;
  }

  a {
    &:hover {
      color: $color-sub;
      text-decoration: underline;
    }
  }
}

.social-share {

  i,
  p,
  .social-icon-group {
    font-size: 1.4rem;
    display: inline-block;
  }

  p {
    font-weight: 700;
    text-transform: uppercase;
  }

  .social-icon {
    // margin: 0 .5rem;

    a {
      display: inline-block;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      border: 1px solid #999;
      text-align: center;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }
    }
  }
}

.pagination {
  margin-top: 4rem;

  .page {
    &-item {}

    &-link {
      color: $color-main;
      outline: none;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }

      &:focus {
        outline: none;
      }
    }

    &-item.active .page-link {
      color: #fff;
      background-color: $color-sub;
      border-color: $color-sub;
    }
  }
}

.sidebar {
  &-box {
    margin-bottom: 3rem;

    &-title {
      position: relative;
      font-family: $font-1;
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 2rem;
      padding-bottom: 1rem;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 3rem;
        height: 3px;
        background-color: $color-sub;
      }
    }
  }

  &-post {
    padding: 1rem;
    margin: 0 -1rem 0.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fff;
      box-shadow: 0 0 3px 1px rgba(#000, 0.1);
    }

    &-row {
      position: relative;
      // align-items: center;
      margin: 0;
    }

    &-col {
      position: static;
      padding: 0.5rem;
    }

    &-img {
      position: relative;
      width: 100%;
      height: 8rem;
    }

    &-text {
      h3 {
        font-family: $font-1;
        font-size: 1.6rem;
        font-weight: 800;
      }

      p {
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
    }

    &-date {
      span {
        font-size: 1.3rem;
        opacity: 0.8;
      }
    }

    &-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &-col:hover &-text h3 {
      color: $color-sub;
    }
  }

  .social-icon {
    margin-right: 0.5rem;

    a {
      display: inline-block;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      text-align: center;
      color: #fff;
      background-color: $color-main;
      border-radius: 25px;

      &:hover {
        color: #fff;
        background-color: $color-sub;
      }
    }
  }

  @include respond(tabland) {
    margin-top: 4rem;
  }
}

.post-date {
  display: block;
  color: #666;
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

.pagination {
  margin-top: 4rem;

  .page-link {
    color: #001942;
    outline: none;

    &:hover {
      color: #fff;
      background-color: $color-sub;
    }

    &:focus {
      outline: none;
    }
  }

  .page-item.active .page-link {
    color: #fff;
    background-color: $color-sub;
    border-color: $color-sub;
  }
}

.price {
  display: block;
  font-size: 1.75rem;
  color: $color-main;
  margin-bottom: 1rem;
}

.summary {
  .price {
    font-size: 2.75rem;
  }
}

.post {
  &-content {
    h4 {
      font-family: $font-1;
      font-size: 2.75rem;
      margin: 1.5rem 0 2rem;

      a {
        color: $color-sub;
        text-decoration: underline;

        &:hover {
          color: $color-main;
        }
      }
    }

    p {
      font-size: 1.8rem;
      line-height: 1.8;

      strong {
        font-size: 110%;
      }

      a {
        color: $color-sub;
        text-decoration: underline;

        &:hover {
          color: $color-main;
        }
      }
    }

    ol {
      font-size: 1.7rem;
      margin: 2rem 0;
      padding-left: 3rem;
    }
  }

  &-img {
    position: relative;
    width: 100%;
    height: 38rem;
    margin-bottom: 4rem;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &-link {
    position: relative;
    display: block;
    padding: 2rem;
    border: 1px solid rgba(#000, 0.1);

    &:hover {
      border-color: $color-sub;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
      background-image: url("#{$imgPath}/icons/back.svg");
      background-size: contain;
      background-position: center;
      @include absoltopcenter;
    }

    &-wrap {
      margin: 4rem 0;
    }

    &-prev {
      text-align: left;
      padding-left: 6rem;

      &::before {
        left: 1.5rem;
      }
    }

    &-next {
      text-align: right;
      padding-right: 6rem;

      &::before {
        right: 1.5rem;
        background-image: url("#{$imgPath}/icons/next.svg");
      }
    }

    h3 {
      font-size: 1.7rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    h4 {
      font-size: 1.4rem;
    }
  }

  hr {
    margin: 2rem 0;
  }

  &-form {
    padding: 3rem 0;

    .formfield {
      label {
        color: $color-sub;
        font-family: $font-1;
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      input {
        font-size: 1.6rem !important;

        &[type="submit"] {
          transition: all 0.3s ease;

          &:hover,
          &:focus {
            color: #fff;
            background-color: $color-sub;
          }
        }
      }
    }
  }

  @include respond(tabland-min) {
    &-link {
      &-prev {
        margin-right: 6rem;
      }

      &-next {
        margin-left: 6rem;
      }
    }
  }
}

#lightcase-case {
  // height: 90vh !important;

  img {
    max-width: 90vw !important;
    max-height: 90vh !important;
  }
}

.form-group {
  margin-bottom: 29px;

  input:not([type="submit"]),
  textarea {
    font-family: $font-1;
    font-size: 25px;
    font-weight: 400;
    width: 100%;
    padding: 18.5px 21px;
    background-color: #F5F5F5;
    box-shadow: none;
    border: 0;

    &::placeholder {
      color: #3C3C3C;
      opacity: 1;
    }
  }

  input:not([type="submit"]) {
    height: 71px;

  }

  textarea {
    min-height: 277px;
  }

  @media (max-width: 991px) {

    input:not([type="submit"]),
    textarea {
      font-size: 18px;
    }

    input:not([type="submit"]) {
      height: 50px;
    }
  }

}

.site-slider {
  &.slick-dotted {
    margin-bottom: 0;

  }

  .slick {
    &-list {
      max-width: 1410px;
      @include margin-auto;
    }

    &-arrow {
      width: 47.15px;
      height: 47.15px;

      &::before {
        display: none;
      }

      @media (min-width: 1801px) {}
    }



    &-dots {
      position: relative;
      bottom: auto;
      margin-top: 67.5px;

      li {
        button {
          width: 10px;
          height: 10px;
          border: 1px solid $color-main;
          background-color: transparent;
          margin: 0 16.5px;
          border-radius: 50%;
          transition: all .2s ease-in;

          &::before {
            display: none;
          }
        }

        &.slick-active button {
          width: 15px;
          height: 15px;
          background-color: $color-main;
        }
      }
    }
  }

  @media (min-width: 1701px) {
    .slick {
      &-prev {
        left: 0;
      }

      &-next {
        right: 0;
      }
    }
  }

  @media (max-width: 1700px) {
    .slick {
      &-prev {
        left: -50px;
      }

      &-next {
        right: -50px;
      }
    }
  }

  @media (max-width: 991px) {
    .slick-arrow {
      display: none !important;
    }
  }
}