.footer {
    background-color: #F7F7F7;

    &-top {
        padding: 40px 0 29px;
    }

    &-logo {
        width: 405px;

        img {
            max-width: 100%;
        }
    }

    &-tags {
        font-family: $font-1;
        font-size: 15px;
        font-weight: 400;

        span {
            color: $color-black-overlay;
            display: inline-block;

            &:not(:last-child) {
                &::after {
                    content: "|";
                    margin: 0 5px;

                }
            }
        }
    }

    &-bot {
        padding: 22px 0;
        background-color: #EFEFEF;

        .spicy-broccoli {
            span {
                font-family: $font-4;
                font-size: 15px;
                font-weight: 400;
            }

            img {
                width: 85px;
                margin-left: 17px;
            }
        }
    }

}